.toogle-menu{
    transform:translate(0,-200%);
    left:75%;
    @apply
    fixed bg-white lg:bg-softGray z-40 transition top-0 border-t border-primary
    w-full lg:w-56 lg:h-auto overflow-auto
}

.toogle-menu ul{
    @apply
    p-4
}

@media(max-width:1400px){
    .toogle-menu{
        left:auto;
        right:0;
    }
}

.toogle-menu.active{
    transform:translate(0,152px);
}

@media(max-width:1024px){
    .toogle-menu.active{
        transform:translate(0,56px);
    }
    .toogle-menu{
        height:calc(100% - 56px);
    }
}

.toogle-menu li{
    @apply
    text-primary uppercase list-none font-semibold py-2 cursor-pointer hover:underline
}

.mobile-content{
    @apply
    block lg:hidden
}

@media(max-width:1024px){
    .toogle-menu{
        @apply
        flex justify-between flex-col
    }
    .toogle-menu .header-contact{
        @apply
        bg-primary px-2 py-6
    }
    .toogle-menu .header-contact p{
        @apply
        w-full justify-center
    }
    .toogle-menu .mobile-content .locale{
        @apply
        flex justify-center gap-4 items-center py-8
    }
    .toogle-menu .mobile-content .locale span{
        @apply
        w-0.5 h-4 bg-primary block
    }
    .toogle-menu .menu-accordion{
        @apply
        h-20 overflow-hidden
    }
    .toogle-menu .menu-accordion.open{
        @apply
        h-auto
    }
    .toogle-menu .menu-accordion.open .option{
        @apply
        text-secondary
    }
    .toogle-menu .menu-sub-accordion{
        @apply
        h-20 overflow-hidden
    }
    .toogle-menu .menu-sub-accordion.open{
        @apply
        h-auto
    }
    .toogle-menu .menu-sub-accordion.open .option{
        @apply
        text-secondary
    }
    .toogle-menu li.option{
        @apply
        flex gap-4 items-center cursor-pointer w-full px-4 h-20
        border-b border-regularSoftBlue text-lg relative
    }

    .toogle-menu li.option svg{
        @apply
        fill-primary 
    }
    
    .toogle-menu li.option svg.arrow{
        @apply
        transition rotate-0
    }

    .toogle-menu .menu-accordion.open svg.arrow{
        @apply
        rotate-180
    }

    .toogle-menu .menu-sub-accordion.open svg.sub-arrow{
        @apply
        rotate-180
    }

    .toogle-menu li.option svg.arrow{
        @apply
        w-8 h-8 absolute right-4
    }
}





.products-sub-category{
    
}

.products-sub-category .sub-category-item{
    @apply
    flex gap-4 p-8 h-20 bg-softGray border-b border-regularSoftBlue items-center relative
}

.products-sub-category .sub-category-item svg.sub-arrow{
    @apply
    w-8 h-8 absolute right-8 fill-primary transition
}

.products-sub-category .sub-category-item h2{
    @apply
    text-lg font-bold
}

.products-sub-category .menu-sub-accordion:nth-child(1) .sub-category-item h2{
    color:#D3AC00;
}
.products-sub-category .menu-sub-accordion:nth-child(2) .sub-category-item h2{
    color:#50A48A;
}
.products-sub-category .menu-sub-accordion:nth-child(3) .sub-category-item h2{
    color:#4575F6;
}
.products-sub-category .menu-sub-accordion:nth-child(4) .sub-category-item h2{
    color:#947658;
}
.products-sub-category .menu-sub-accordion:nth-child(5) .sub-category-item h2{
    color:#263238;
}


.applications-sub-category .sub-category-item{
    @apply
    flex gap-4 p-8 h-20 bg-softGray border-b border-regularSoftBlue items-center relative justify-between w-full
}

.applications-sub-category .sub-category-item svg.sub-arrow{
    @apply
    w-8 h-8 absolute right-8 fill-primary transition
}

.applications-sub-category .sub-category-item h2{
    @apply
    text-lg font-bold text-primary
}

.applications-sub-category .applications-sub-sub-category li,
.products-sub-category .products-sub-sub-category li{
    @apply
    border-b border-normalGray px-12 py-4
}