.section-background-banner{
    height:700px;

    @apply
    bg-center bg-cover px-4
}

.section-background-banner .banner-content{
    max-width:1400px;

    @apply
    w-full flex flex-col gap-2 lg:gap-4 justify-center items-center mx-auto h-full
}

.section-background-banner .banner-content h1{
   font-size:64px;

   @apply
   bg-primary text-white px-4 font-black font-archivo
}

@media(max-width:1024px){
    .section-background-banner .banner-content h1{
        font-size:24px;
        @apply
        w-full text-center py-2 font-bold
     }
     .section-background-banner .banner-content button{
        @apply
        w-full
     }
     .section-background-banner{
        height:324px;
    }
}