.blog-card-container{
    width:456px;
    height:629px;
    max-width:100%;

    @apply
    p-4 bg-white flex flex-col items-center gap-4 transition cursor-pointer
    hover:border-2 hover:border-secondary
}

.blog-card-container .blog-card-image{
    height:285px;

    @apply
    w-full bg-center bg-cover
}

.blog-card-container  .blog-card-info{
    @apply
    w-full flex flex-col gap-2
}

.blog-card-container  .blog-card-info h3{
    font-size:12px;
    @apply
    text-hardGray uppercase font-semibold flex gap-2 items-center py-4 font-lato
}

.blog-card-container  .blog-card-info h2{
    @apply
    text-2xl text-primary font-bold h-20 font-archivo
}


.blog-card-container  .blog-card-info p{
    @apply
    text-hardGray text-lg h-28 font-lato
}

.blog-card-container button{
    @apply
    bg-secondary text-darkBlue w-36 h-12 font-semibold uppercase mt-2
}

.blog-card-container:hover button{
    @apply
    underline
}

.blog-card-info .separate{
    @apply
    rounded-full w-2 h-2 bg-secondary block
}

.blog-card-info .blog-card-date{
    font-size:12px;
    @apply
    text-hardGray
}